<div id="authentication" class="hidden">

<div class="wrapper">

    <form method="POST" autocomplete="on">
        <button class="button signup">
            Instant Access
        </button>
        <hr>
        <div class="hr">or</div>
        <div class="field user">
            <label for="username">Username</label>
            <input name="username" id="username" type="text">
        </div>

        <div class="field password">
            <label for="password">Password</label>
            <input name="password" id="password" type="password">
        </div>

        <input type="hidden" name="fingerprint" id="fingerprint" type="text">
        <input type="hidden" name="token" id="token" type="text">
        <input type="hidden" name="action" id="action" type="text">

        <button class="button login">Login</button>



    </form>

</div>

</div>
